/* 初始化 */
body,ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
clearfixed::after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    text-align: center;
}
.list {
    display: inline-block;
}
.list li {
    /* display: inline-block;   一定不要用inline-block来堆 会导致后来的在上边 */
    float: left;
    
}
.item {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}
.list img {
    display: block;
    width: 230px;
    
}
